*{
  border-radius: 25px;
}
.bottom-container{
  background-color: var(--yellow-theme-main-colore);
  padding: 50px 0 20px;
  text-align: center;
}
.copy-right{
  color: #000;
  font-size: 2rem;
  padding: 20px 0;
}
.footer-link{
    padding: 10px;
    font-size: 2rem;
    color: #000;
}

